<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-button (click)="GoLogin()">back</ion-button>
      </ion-buttons>
      <ion-title size="large">Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-card id="card">
    <ion-card-content>
      <p id="p">¿Olvidaste tu contraseña? no te preocupes, ingresa tu correo y te mandaremos una clave de recuperación</p>
    </ion-card-content>
  </ion-card>
 
  <br>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input id="input" fill="outline" placeholder="juanitoperez@gmail.com"type="text" required [(ngModel)]="user.email" ></ion-input>
  </ion-item> 
</ion-content>
