*{
    font-family: 'Roboto', sans-serif;
}

ion-title{
    text-align: center;
    font-size: 20px;
    color: black;
}

ion-card-title{
    color: #FEFEF2;
}

#p{
    color: #FEFEF2;
    text-align: justify;
}

#card{
    background-color: #CF0300;
}

#img{
    height: 50px;
    width: 50px;
}

a{
    float: right;
}
