<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<br>
<ion-content class="ion-padding">
  <ion-button id="open-modal" shape="round" expand="block">Open Modal</ion-button>
  <ion-modal [keepContentsMounted]="true" trigger="open-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Modal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> This content was mounted as soon as the modal was created. </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
