<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Agregar figura</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <h3 class="encabezado">Ingrese datos de la figura</h3>
  <!-- Ingresar datos para agregar figura-->

  <form>
    <!--id Figura-->
    <ion-item lines="full">
      <ion-label position="floating">
        id:
      </ion-label>
      <ion-input type="text" name="txtId" required [(ngModel)]="figure.id"></ion-input>
    </ion-item>
  <!-- Nombre Figura-->
  <ion-item lines="full">
    <ion-label position="floating">
      Nombre:
    </ion-label>
    <ion-input type="text" name="txtNombre" required [(ngModel)]="figure.nombre"></ion-input>
  </ion-item>
  <!--Altura-->
  <ion-item lines="full">
    <ion-label position="floating">
      Altura:
    </ion-label>
    <ion-input type="text" name="txtAltura" required [(ngModel)]="figure.altura"></ion-input>
  </ion-item>
  <!--Precio-->
  <ion-item lines="full">
    <ion-label position="floating">
      Precio:
    </ion-label>
    <ion-input type="text" name="txtPrecio" required [(ngModel)]="figure.precio"></ion-input>
  </ion-item>
  <!--imagen-->
  <ion-item lines="full">
    <ion-label position="floating">
      Imagen:
    </ion-label>
    <ion-input type="text" name="txtImagen" required [(ngModel)]="figure.foto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="block" color="success" (click)="addFigure()">Capturar!</ion-button>
  </ion-item>
    
   </form>

 <!--Tabs-->
 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home" (click)="GoHome()"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person-circle-outline" (click)="GoProfile()"></ion-icon>
      Perfil
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="help" (click)="GoAssist()"></ion-icon>
      Ayuda
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="log-out-outline" (click)="LogOut()"></ion-icon>
      Cerrar sesión
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
