<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-figure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar figura</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()">
           <ion-icon color="primary" slot="icon-only"  name="menu-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 
  <h3 class="encabezado">Ingrese datos de la figura</h3>
  <ion-item>
    <ion-label class="normal" position="floating">Nombre</ion-label>
    <ion-input class="normal" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="normal" position="floating">Altura</ion-label>
    <ion-input class="normal" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="normal" position="floating">Precio</ion-label>
    <ion-input class="normal" type="number" inputmode="numeric" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="normal">Foto:</ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="images"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-button style="margin: 30px;" expand="block" color="dark">Guardar</ion-button>
</ion-content>
