<ion-content [fullscreen]="true">
  <ion-header mode="md">
    <ion-toolbar>
      <ion-title>Figuras</ion-title>
      <ion-buttons slot="end">
        <ion-button color="success" [routerLink]="['/add-figure/']" routerLinkActive="router-link-active">Nueva Figura</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let figure of figuras" [routerLink]="['/detail/']+figure['id']">
      <ion-avatar><img src="{{figure['foto']}}" alt=""></ion-avatar> - {{figure['nombre']}}
    </ion-item>
  </ion-list>



  <!--Tabs-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="home" (click)="GoHome()"></ion-icon>
        Inicio
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="person-circle-outline" (click)="GoProfile()"></ion-icon>
        Perfil
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="help" (click)="GoAssist()"></ion-icon>
        Ayuda
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="log-out-outline" (click)="LogOut()"></ion-icon>
        Cerrar sesión
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
