<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon name="home" style="height: 50px; width:50px"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="botton" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="GoAdd()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let figure of figuras" [routerLink]="['/detail/']+figure['id']">
      <ion-avatar><img src="{{figure['foto']}}" alt=""></ion-avatar>
      {{figure['nombre']}}
    </ion-item>
  </ion-list>

 <!--Tabs-->
 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home" (click)="GoHome()"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person-circle-outline" (click)="GoProfile()"></ion-icon>
      Perfil
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="help" (click)="GoAssist()"></ion-icon>
      Ayuda
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="log-out-outline" (click)="LogOut()"></ion-icon>
      Cerrar sesión
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
