<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title size="large">Crea una cuenta<div><img src="../../assets/icon/logo.png" alt="Logo" id="img"></div></ion-title> 
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input id="input" fill="outline" placeholder="Juanito Perez"type="text" [(ngModel)]="user.nombre"required ></ion-input>
  </ion-item>
  <br> 
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input id="input" fill="outline" placeholder="juanitoperez@gmail.com"type="text" [(ngModel)]="user.email"required></ion-input>
  </ion-item>
  <br> 
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input id="input" fill="outline" placeholder="***************"type="password" [(ngModel)]="user.password"required></ion-input>
  </ion-item>
  <ion-button class="ion-padding" color="primary" expand="block" (click)="register(user)">Registrarse</ion-button> 
  <br>
  <a [routerLink]="['/login']">¿Ya tienes cuenta? Inicia Sesión</a>
</ion-content>

